.Game {
  overflow: hidden;
}

.Game__stage {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Game__start {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  font-size: 80px;
  background-color: rgba(255, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.Game__start:hover {
  background-color: rgba(255, 0, 0, 15);
}

.Game__icons {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 50px;
  width: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.Game__icon-item {
  flex: 1;
  display: flex;
  align-items: center;
}

.Game__icon-content {
  padding: 10px;
  width: 100%;
  position: relative;
}

.Game__icon-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  opacity: 0.5;
}

.Game__icon {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 650px) {
  .Game__start {
    width: 40%;
    height: 40%;
    font-size: 20px;
  }

  .Game__icons {
    width: 80px;
    padding: 10px;
  }
}
