.Timeline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.Timeline__tick {
  position: absolute;
  height: 50px;
  width: 2px;
  top: 0;
  background-color: black;
  opacity: 0.3;
  margin-left: -1px;
  z-index: 3;
}
